<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Restaurante</title>

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

</head>
<body>
<h1>Editar un Restaurante</h1>
<form action="/restaurant"  method="POST" enctype="multipart/form-data" th:object="${restaurant}">
    <input type="hidden" name="id" th:value="${restaurant.id}">
    <input type="hidden" name="score" th:value="${restaurant.score}">
    <p>Nombre: </p>
    <input type="text" th:field="*{name}" placeholder="Nombre"/>
    <p>Direccion Principal: </p>
    <input type="text" th:field="*{direction}" placeholder="Direccion"/>
    <p>Telefono: </p>
    <input type="text" th:field="*{phone}" placeholder="Telefono"/>
    <br />
    <p>Categoria: </p>

    <select th:field="*{category}">
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"></option>
    </select>
    <br/>
    <p>Ciudad: </p>

    <select th:field="*{city}">
        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
    </select>
    <br />
    <img th:if="${(restaurant.foto)!=NULL}" th:src="${'/uploads/' + restaurant.foto}" th:alt="${restaurant.foto}" width="300" height="300">
    <br />
    <input type="file" name="file" th:value="${restaurant.foto}"/>

    <input type="submit" value="Guardar" >
</form>
</body>
</html>